<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Программно-аппаратная платформа</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/image/logo.png" alt="Логотип">
        </div>
        <div class="home">
            <a href="home">Rezon 2.0</a>
        </div>

    <nav>
        <ul>
            <li><a href="/product">О продукте</a></li>
            <li><a href="/partners">Партнёры</a></li>
            <li><a href="/team">Команда разработчиков</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </nav>
    </header>

    <main>
        <div class="pro">
            <h1>Rezon 2.0</h1>
        </div>

        <div class="images">
            <img src="/static/image/rezon3.jpg" alt="" />
            <img src="/static/image/rezon_niz.jpg" alt="" />
            <img src="/static/image/rezon_os.jpg" alt="" />
        </div>
        <div class="content">
    <h3>Основной функционал</h3>
    Данный функционал позволяет, например, производить тестирование системы интернета вещей путём опроса устройств сети и анализ, полученных с них данных. Кроме того, может быть произведена эмуляция работы сразу совокупности передающих модулей, что позволит создать условия для проверки функционала разрабатываемого устройства наиболее приближенные к реальным.
    - Наличие программно конфигурируемого приёмопередатчика на борту, позволяет осуществлять работу с помощью многих других интерфейсов связи.
    Так, например, может быть произведена работа со спутниками, путём поднятия на устройстве сетевого протокола AX.25, и применения фазовой манипуляции (данная конфигурация широко использующегося в космической связи).
    - Устройство может произвести эмуляцию работы сетевого узла. При подобной конфигурации, часть данных, которыми обмениваются остальные устройства сети, будут проходить через данный узел. При этом на борту присутствует инструментарий для обработки этих данных. Таким образом существует возможность произвести проверку работоспособности системы в целом, по характеру передаваемых данных.
    <h3>Информационная безопасность</h3>
    Весь вышеописанный функционал может также быть использован в сфере информационной безопасности. Ниже приведён ряд конкретных примеров

- Анализ трафика сети.

 В случае если какое-либо из устройств сети (например, распределённой системы датчиков) будет передавать какой-либо набор данных, не относящийся к его задокументированному функционалу, это будет обнаружено.
- Эмуляция различных команд с пультов управления
 Например, может быть произведён аудит электронных замков, путём попытки их вскрыть с помощью подмены сигнала с пульта. На данный момент многие устройства не обладают защитой от атак из радиоэфира, поэтому подобные проверки являются актуальными.
- Сканирование эфира и поиск несанкционированных каналов связи
 Разного рода прослушивающие устройства и прочие жучки, передают записывающий материал по радиоканалу. Во время передачи, может быть установлен наличие и характер жучка
- Может быть осуществлён взлом Wi-Fi сети, для проверки её на защищённость
- Устройство имеет функционал, позволяющий на время выводить из строя точки доступа Wi-Fi в радиусе 20 метров
- Потенциально может быть осуществлён перехват радиосигналов с беспилотников, его модификацию и повторённое излучение в целях перехвата управления
    <h3>Дополнительный функционал</h3>
    На данный момент реализован Web интерфейс, с помощью которого может быть осуществленно управление устройством
- Кроме того может быть использован удалённый доступ к консоли устройства или к рабочему столу
- На встроенном компьютере может быть поднят VPN для удобной удалённой работы
    <h3>Планируемая конфигурация</h3>
    Устройство, которое на данный момент разрабатывается, предполагает улучшение ряда параметров, по сравнению с текущей версией

- Рабочий частотный диапазон будет расширен с 6 до 26 Ггц, что позволит производить работу с большинством устройств связи.
- Максимальная полоса сигнала будет расширена с 20 до 160 Мгц, что позволит производить работу с высокоскоростными интерфейсами связи
- Планируется увеличение мощности вычислительной части, чтобы имелась возможность обрабатывать большие потоки данных
- Планируется написание программной инфраструктуры, позволяющей с высоким уровнем удобства использовать устройство. Кроме того, будет настроен запуск многих инструментов тестирования и аудита "из коробки".
</div>

        <a href="/product" class="details-btn">Назад</a>
    </main>
    <footer>
        <p>&copy; 2024 ООО БДУВ. Все права защищены.</p>
    </footer>
</body>
</html>